.bg-bg-1{
    background: url('../pages/svgs/bggg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-bg-2{
    background: url('../pages/svgs/story_page_3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-bg-3{
    background: url('../pages/svgs/story_page_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-bg-4{
    background: url('../pages/svgs/story_page_3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-bg-contact{
    background: url('../components/Assets/Author/Contact/one.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-bg-contact2{
    background: url('../components/Assets/Author/bookbg5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-book-1{
    background: url('../components/Assets/Author/bookbg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-book-3{
    background: url('../components/Assets/Author/bookbg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-book-2{
    background: url('../components/Assets/Author/bookbg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-book-4{
    background: url('../components/Assets/Author/bookbg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}